#ui-view-container{
    background-color: rgba(64, 59, 52, 0.05);
    height: 800px;
    border-radius: 5px;
    border: 0.6px;
    /*box-shadow: 1px 1px #faf3ec;*/
    border: 1px solid rgba(204, 199, 186, 0.36);
    padding: 0;
    /*padding-left: 10px;*/
}
footer{
    height: 100px;
    background-color: rgba(174, 160, 141, 0.43);
}
