<div>
    <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseColumn" aria-expanded="false" aria-controls="collapseExample">
        bla
    </button>
</div>


<div class="" id="collapseColumn" ng-controller="leftColumnController" >
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="markerClustering"  ng-click="toggleMarkerClustering()" ><span>marker clustering</span>
        </label>
    </div>

    <br>
    <h4> Edit your Interests: </h4>
    <hr>
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="kitesurfing" ng-click="toggleKiteSurfing()" ><span>kite surfing</span>
        </label>
    </div>
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  value="">scuba-diving
        </label>
    </div>
    <div class="form-check home_collapse_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_schools" ng-click="toggleScubaSchools()" value="">schools
        </label>
    </div>
    <div class="form-check home_collapse_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_spots" ng-click="toggleScubaSpots()" value="">spots
        </label>
    </div>
    <h4>kitesurfing: {{kitesurfing}}</h4>
    <h4>scuba-diving schools: {{scuba_diving_schools}}</h4>
    <h4>scuba-diving spots: {{scuba_diving_spots}}</h4>

</div>