<div>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseColumn"
            aria-expanded="true" aria-controls="collapseExample" style="float: right;">
        <span class="mbri-menu"></span>
        <!--<img src="/static/css/libs/30%20px/mobirise/menu.svg" alt="icon name">-->
    </button>

</div>
<br>

<div class="collapse show" id="collapseColumn" ng-controller="leftColumnController" >
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="markerClustering"  ng-click="toggleMarkerClustering()" ><span>marker clustering</span>
        </label>
    </div>

    <br>
    <h4> Edit your Interests: </h4>
    <hr>
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="kitesurfing" ng-click="toggleKiteSurfing()" ><span>kite surfing</span>
        </label>
    </div>
    <div class="form-check home_interests_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-checked="scuba_diving_spots || scuba_diving_schools" value="">scuba-diving
        </label>
    </div>
    <div class="form-check home_collapse_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_schools" ng-click="toggleScubaSchools()" value="">schools
        </label>
    </div>
    <div class="form-check home_collapse_checkbox">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_spots" ng-click="toggleScubaSpots()" value="">spots
        </label>
    </div>
    <p>kitesurfing: {{kitesurfing}}</p>
    <p>scuba-diving schools: {{scuba_diving_schools}}</p>
    <p>scuba-diving spots: {{scuba_diving_spots}}</p>

</div>