md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: #648A0C;

}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
    background: #648A0C;
    color: #648A0C;
}
.md-tab{
    text-transform: none;
    font-weight: 600;
    font-size: medium;
}