<div ng-if="dataLoading" class="container" ng-include="'devidedByHtmlBlocks/all/loader.html'" ></div>
<div ng-if="!dataLoading" class="search-sortby-div">
    <div class="col-md-10 col-sm-10 offset-sm-1 offset-md-1 offset-lg-2 col-lg-8 col-xl-7">
        <label for="search-input"></label>
        <input type="search" id="search-input" placeholder="Search for Spots" ng-model="ngsearch" />
    </div>
    <br>

    <table class="col-md-10 col-sm-10 offset-sm-1 offset-md-1 offset-lg-2 col-lg-8 col-xl-7" cellspacing='0'>
        <thead>
        <tr>
            <!--<th><center><a href="" ng-click="predicate = 'sno'; reverse=!reverse">S.NO</a></center></th>-->
            <th><center><a href="" ng-click="predicate = 'name'; reverse=!reverse">NAMES</a></center></th>
            <th><center><a href="" ng-click="predicate = 'averageRating'; reverse=!reverse">STARS</a></center></th>
            <!--<th><center><a href="" ng-click="predicate = 'timesInFavourites'; reverse=!reverse">timesInFavourites</a></center></th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="search_dto in search_dtos | orderBy:predicate:reverse | filter:ngsearch" data-content="{{search_dto}}" >{{search_dto}}
            <!--<td>{{search_dto.sno}}</td>-->
            <td ng-if="search_dto.type==='scuba-diving_school'"><a class="" href="#!/map/scubadiving/school/{{search_dto.id}}">{{search_dto.name}}</a></td>
            <td ng-if="search_dto.type==='scuba-diving_spot'"><a class="" href="#!/map/scubaSpotDetails/{{search_dto.id}}">{{search_dto.name}}</a></td>
            <td ng-if="search_dto.type==='kiteSpot'"><a class="" href="#!/map/kiteSpotDetails/{{search_dto.id}}">{{search_dto.name}}</a></td>

            <td ng-show="search_dto.numberOfRatings === 1 ">{{search_dto.averageRating}}/5 ({{search_dto.numberOfRatings}} rating)</td>
            <td ng-show="!(search_dto.numberOfRatings === 1)">{{search_dto.averageRating}}/5 ({{search_dto.numberOfRatings}} ratings)</td>
            <!--<td>{{search_dto.timesInFavourites}}</td>-->
        </tr>
        </tbody>
    </table>
</div>

