
<div id="search-sortby-div">
    <input type="search" id="search" ng-model="ngsearch" />
    <table class="col-sm-8" cellspacing='0'>
        <thead>
        <tr>
            <!--<th><center><a href="" ng-click="predicate = 'sno'; reverse=!reverse">S.NO</a></center></th>-->
            <th><center><a href="" ng-click="predicate = 'name'; reverse=!reverse">NAMES</a></center></th>
            <th><center><a href="" ng-click="predicate = 'averageRating'; reverse=!reverse">STARS</a></center></th>
            <th><center><a href="" ng-click="predicate = 'type'; reverse=!reverse">TYPE</a></center></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="friend in friends | orderBy:predicate:reverse | filter:ngsearch" data-content="{{friend}}" >{{friend}}
            <!--<td>{{friend.sno}}</td>-->
            <td><a class="button button-link" href="#!/">{{friend.name}}</a></td>

            <td ng-show="friend.numberOfRatings === 1 ">{{friend.averageRating}}/5 ({{friend.numberOfRatings}} rating)</td>
            <td ng-show="!(friend.numberOfRatings === 1)">{{friend.averageRating}}/5 ({{friend.numberOfRatings}} ratings)</td>
            <td>{{friend.type}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="col-sm-6 ">
        <div class="" style="" ng-repeat="school in schools">
            <div class="recommendations-div">
                <div class="ui-header  ">
                    <div class="row ">

                        <img class="col-sm-4" ng-if="school.image" alt="" src="data:image/png;base64,{{school.image}}" height="100" width="100">
                        <table class="table col-sm-8"  >
                            <tbody>
                            <tr>
                                <th>Name:</th>
                                <td>{{school.spot.name}}</td>
                            </tr>
                            <tr>
                                <th>Address:</th>
                                <td>{{school.address}}</td>
                            </tr>

                            </tbody>
                        </table>
                     </div>


                </div>

                <div class="info"> <a class="btn btn-link" href="#/">details</a></div>
            </div>



        </div>

    </div>
</div>