<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->

<div class="container col-sm-8" id="profileCard">
    <div class="row ui-container container ">
        <div class="col-sm-3">
            <div class="profile-image" align="center">
                <h4 class=""><strong>{{globals.currentUser.username}}</strong></h4>
                <img ng-if="vm.user.image" src="data:image/png;base64,{{vm.user.image}}" alt="kitesurfing spot" >
                <img ng-if="!(vm.user.image)"src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                <a class="btn btn-link"
                        type="button"
                        data-toggle="modal"
                        href="#change-password-modal"> Change Password
                </a>
                <a class="btn btn-link"
                   type="button"
                   data-toggle="modal"
                   href="#upload-photo-modal"> Update Profile Picture
                </a>


            </div>
        </div>
        <div class="col-sm-6">

            <table class="table"  >
                <tbody>
                    <tr>
                        <th>Email:</th>
                        <td>{{vm.user.email}}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{vm.user.address}}</td>
                    </tr>
                    <tr>
                        <th>Interests:</th>
                        <td><p ng-repeat = "interest in vm.interests">{{interest.user_interest_key.user_interest}}, <i>{{interest.level}}</i> <br></p>
                            <!--<p>kitesurfing, <i>intermediate</i></p>-->
                        </td>



                    </tr>


                </tbody>
            </table>
            <div>

                <a class="btn btn-link"
                   type="button"
                   data-toggle="modal"
                   href="#edit-info"> Edit Info
                </a>


            </div>

        </div>
    </div>
</div>



<!--        modals      -->
<div class="modal fade" id="change-password-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" ng-controller = "changePasswordController as cp">
                <form class="container" name="changePasswordForm" ng-submit="changePasswordForm.$valid && cp.changePassword()">
                    <div class="form-group" >
                        <label for="password">Old Password</label>
                        <input type="password" name="old_password" id="old_password" class="form-control" ng-minlength="4" ng-maxlength="10" ng-model="cp.user.oldPassword" ng-change="cp.checkOldPassword(changePasswordForm)" required />
                        <p class="validation" ng-show = "changePasswordForm.old_password.$pristine && changePasswordForm.old_password.$touched " >Password is required</p>
                        <p class="validation" ng-show = "changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$invalid && changePasswordForm.old_password.$touched && cp.oldPassword_OK">Password must be between 4 and 10 characters long</p>
                        <p class="validation" ng-show = "!cp.oldPassword_OK && !changePasswordForm.old_password.$pristine && changePasswordForm.old_password.$touched">Wrong Password. Please enter your current password</p>
                    </div>
                    <div class="form-group" >
                        <label for="password">New Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-minlength="4" ng-maxlength="10" ng-model="cp.user.password" required />
                        <p class="validation" ng-show = "changePasswordForm.password.$pristine && changePasswordForm.password.$touched " >Password is required</p>
                        <p class="validation" ng-show = "changePasswordForm.password.$dirty && changePasswordForm.password.$invalid && changePasswordForm.password.$touched">Password must be between 4 and 10 characters long</p>

                    </div>
                    <div class="form-group" >
                        <label for="password">Repeat New Password</label>
                        <input type="password" ng-model="cp.repeat_password" ng-change="cp.confirmPassword(changePasswordForm)" name="repeat_password" id="repeat-password" class="form-control" ng-minlength="4" ng-maxlength="10"   required />
                        <p class="validation" ng-show = "changePasswordForm.repeat_password.$pristine && changePasswordForm.repeat_password.$touched " >Password repeatance is required</p>
                        <p class="validation" ng-show = "changePasswordForm.repeat_password.$dirty && changePasswordForm.repeat_password.$invalid && changePasswordForm.repeat_password.$touched ">Password confirmation does not match </p>
                    </div>
                    <div class="form-actions">
                        <button type="submit">Change Password</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                             ng-if="flash" ng-bind="flash.message"></div>
                    </div>
                </form>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="upload-photo-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Profile Picture</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div ng-include="'devidedByHtmlBlocks/ngView/my-profile/upload.html'">


                </div>
                <!--<img ng-src="{{imageSrc}}" />-->
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="edit-info">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <form class="container" name="editInfoForm" ng-submit="editInfoForm.$valid && vm.changeInfo()">
                    <div class="form-group" >
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-minlength="4" ng-maxlength="10" ng-model="vm.user.username" ng-disabled="true" required />
                        <p class="validation" ng-show = "editInfoForm.username.$pristine && editInfoForm.username.$touched" >Username is required</p>
                        <p class="validation" ng-show = "editInfoForm.username.$dirty && editInfoForm.username.$invalid && editInfoForm.username.$touched">Username must be between 4 and 10 characters long</p>
                    </div>

                    <div class="form-group" >
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email" name="editInfoForm" required />
                        <p class="validation" ng-show = "editInfoForm.email.$pristine && editInfoForm.email.$touched" >Email is required</p>
                        <p class="validation" ng-show = "editInfoForm.email.$dirty && editInfoForm.email.$invalid && editInfoForm.email.$touched"> You did not enter your email correctly</p>
                    </div>
                    <div class="form-group" >
                        <label for="email">Address</label>
                        <input places-auto-complete class="form-control"
                               ng-model="vm.user.address"
                               component-restrictions="{country:'GR'}"
                               types="{{types}}"
                               placeholder="Enter location"

                               ng-show=true
                        />
                    </div>








                    <hr >


                    <div id="reg_moreInfo">

                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" ng-model="vm.kitesurfing"
                                       name="interest" ng-true-value="'kitesurfing'" ng-click="vm.pushUserInterest('kitesurfing')"  ><span>kitesurfing</span>
                            </label>
                            <span class="ml-sm-5" ng-show="vm.kitesurfing">
                                <label>level:</label>
                                <select ng-model="vm.kitesurfing_level" name="kitesurfing_level">
                                    <option value="beginner" ng-selected="vm.kitesurfing_level=='beginner'">Beginner</option>
                                    <option value="itermediate" ng-selected="vm.kitesurfing_level=='intermediate'">Intermediate</option>
                                    <option value="expert" ng-selected="vm.kitesurfing_level=='expert'">Expert</option>
                                </select>
                            </span>
                        </div>
                        <br>
                        <div class="form-check ">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" ng-model="vm.scubadiving"
                                       name="interest" ng-true-value="'scubadiving'" ng-click="vm.pushUserInterest('scubadiving')"><span>scuba-diving</span>
                            </label>
                            <span class="ml-sm-5" ng-show="vm.scubadiving">
                                <label>level:</label>
                                <select ng-model="vm.scubadiving_level" name="scuba-diving_level">
                                    <option value="beginner" ng-selected="vm.scubadiving_level=='beginner'">Beginner</option>
                                    <option value="itermediate" ng-selected="vm.scubadiving_level=='intermediate'">Intermediate</option>
                                    <option value="expert" ng-selected="vm.scubadiving_level=='expert'">Expert</option>
                                </select>
                            </span>
                        </div>

                        <label class="col-sm-3" >Date of birth:</label>
                        <input type="date" >


                    </div>
                    <br>
                    <div class="form-actions">
                        <button type="submit">Save</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                    </div>


                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

