.imagesContainer{
    text-align: right;
}
.imagesContainer img{
    background-color: rgba(114, 124, 129, 0.68);
    padding: 1.5px;
    /*height: 29px;*/
}


.table th{
    border: none;
    padding: 3px;
    width: 170px;
    font-size: 17px;
    font-family: 'IBM Plex Serif', serif;
    word-spacing: 3.5px;
    padding-top: 8px;
}
.table td{
    border: none;
    font-size: 14px;

}
.name-level{
    margin-left: 20px;
}
.name-level th{
    width: 62px;
    font-size: 18px;
    font-family: 'IBM Plex Serif', serif;

}
.name-level td{

    font-size: 15px;
    /*font-family: 'IBM Plex Serif', serif;*/

}
#lat-long{
    font-size: small;
    font-family: 'IBM Plex Serif', serif;
}