/* Styles go here */
html, body{

    height:100%;
    width:100%;
}

.container-fluid{
    height:100%;
}
.column{
    height:100%;
    background-color: lightgrey;
}
.column{
    height:100%;
    background-color: lightgrey;
}

.nav-item{
    margin-left:5%;
}

.nav-item:hover, .active{
    background-color: green;
    border-radius: 3px;
}

.spotsDirectory{
    collapse: tr;
}
.home_interests_checkbox{
    margin-left: 10px;
}
.home_collapse_checkbox{
    margin-left: 28px;
}

.noBorder{
    border-top: none; !important;
}
/*windy api*/
#windyty {    height: 500px; width: 1000px;
    margin-left: auto; margin-right: auto;
    position: relative;
    margin-top: 50px; }

