


<div  class="" ng-controller="leftColumnController" >
    <h4>Spot Categories</h4>


    <br>
    <h4> Edit your Interests: </h4>
    <hr>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="kitesurfing"
                   ng-click="toggleKiteSurfing()" ><span>kite surfing</span>
        </label>
    </div>
    <div class="form-check ">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving"
                   ng-click="toggleScubaDiving()" value="">scuba-diving
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_schools"
                   ng-click="toggleScubaSchools()" value="">schools
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_spots"
                   ng-click="toggleScubaSpots()" value="">spots
        </label>
    </div>


</div>





