


<div style="margin-top: 50px;"  ng-controller="leftColumnController"  >



    <h5> Spot Categories </h5>

    <hr style="margin:0;">
    <p class="help-message">Choose the categories you would like to see on the map</p>


    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="all"
                   ng-click="toggleAll()" ng-checked="scuba_diving_schools && scuba_diving_spots && kitesurfing"><span>All</span>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="kitesurfing"
                   ng-click="toggleKiteSurfing()" ><span><img src="images/kitesurfing.svg" height="20px" width="18">kitesurfing</span>
        </label>
    </div>
    <div class="form-check ">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving"
                   ng-click="toggleScubaDiving()" ng-checked="scuba_diving_schools || scuba_diving_spots"><img src="images/scuba-diving.svg" height="20px" width="18">scuba-diving
        </label>
    </div>
    <div class="form-check ml-sm-3">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_schools"
                   ng-click="toggleScubaSchools()" value=""><img src="images/scubaSchool.svg" height="20px" width="18">schools
        </label>
    </div>
    <div class="form-check ml-sm-3">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="scuba_diving_spots"
                   ng-click="toggleScubaSpots()" value=""><img src="images/diveSpot.svg" height="20px" width="18">spots
        </label>
    </div>

    <br>
    <br>




</div>





