.nav-item{

    font-size: medium;
}

.nav-item:hover, .active{
    background-color: green;
    border-radius: 3px;
}
#loginLink{color: white; font-size: small}
#registerLink{color: white; font-size: small}
