.user-navbar{
    position: absolute;
    right: 0;
}
.active{
    color: #C0CC56;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #C0CC56;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #C0CC56;
}
@media only screen and (min-width: 1008px) {
    #my-navbar {
        height: 62px;
    }
}
#logo{
    color: #A6B339; /*greener*/
    font-family: "Century Schoolbook L";
    /*margin-top: -40px;*/
    font-size: 25px;
}
#navbar-toggler{
    background-color: white;
    height: 35px;
    float: right;
}


nav{
    background-color: #403B34; /*almost black*/
    height: 100%;
}


nav li:hover a::before {
    right: 0;
    left: 0;
}
nav a {


    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav a::before {
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #C0CC56; /*lightgreen*/
    /*background-color: rgba(0, 163, 0, 0.92);*/
}

nav ul {
    list-style-type: none;


}

.navbar-light .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    /*margin: 10px;*/
    /*margin-left:40px;*/
    margin-right: 60px;
    color: white; !important;
    /*text-shadow: 0.05px 0.05px;*/
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #C0CC56; /*lightgreen*/ !important;
}


#login-register a {

    /*background-color: #4e555b;*/
    padding: 5px;

    color: white;
}
#login-register a:hover{
    color: #C0CC56; /*lightgreen*/!important;

}
#user-functionality-navbar{
    color: white;
    background-color: #403B34;
    margin: 0;
    /*text-align: right;*/

}
#user-functionality-navbar a{
    margin-right: 18px;
}
#user-functionality-navbar a:hover{
    color: #C0CC56;
}
#global-search {
    position: absolute;
    right: 0;
    width: 100px;
}
/*#nav-links{*/
    /*margin-top: -20px;*/
/*}*/