<nav ng-controller="navbarController">


    <div class="">
        <aside class="float-right mr-sm-1 ">
            <div ng-if="!globals.currentUser" class="" id="login-register">
                <ul class="row">
                    <li id="login">
                        <a  data-toggle="modal" href="#!/login" >log in</a>
                    </li>
                    <li id="register">
                        <a  href="#!/register" >Register</a>
                    </li>
                </ul>
            </div>
            <div ng-if="globals.currentUser" style="right: 0; top: 0" class="" id="">

                <div class="dropdown">
                    <button type="button" style="background-color: lightgrey" class="btn dropdown-toggle" data-toggle="dropdown">

                        <img src="images/user.svg" height="20" width="20">
                        {{globals.currentUser.username}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a style=""class="dropdown-item" href="#!/my-profile">my profile</a>

                        <div class="dropdown-divider"></div>
                        <a href="#!/login" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-sm-2" >
            <h2 style="margin-top:0;" id="logo">Adventurer</h2>
        </div>

    </div>
    <div class="col-sm-8 offset-sm-2" id="nav-links">
        <ul class="row">

            <li>
                <a class="nav-link" href="#!/" id="nav_home"  ><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a class="nav-link" href="#!/map" id="nav_map"><i class="fa fa-map-marker" ></i> Spots</a>
            </li>
            <li>
                <a class="nav-link" href="#!/weather_map" id="nav_weatherMap"><i class="fa fa-cloud" ></i> Weather</a>
            </li>
            <li>
                <a class="nav-link " href="#!/my_map" id="nav_myMap"><i class="fa fa-map" ></i> My Map</a>
            </li>
        </ul>
    </div>


</nav>
