/*colour pallet
    background-color: #3F3F3F; navbar ~almost black
    background-color: #C0CC56; navbar-links ~lightgreen
    background-color: #A6B339; ~greener
*/

/*.nav-item{*/

    /*font-size: large;*/
    /*font-family: "Century Schoolbook L";*/
/*}*/

/*.active{*/
    /*!*background-color: green;*!*/
    /*!*border-radius: 3px;*!*/
    /*color: #C0CC56;*/
/*}*/
/*#loginLink{color: white; font-size: small}*/
/*#registerLink{color: white; font-size: small}*/




/*#navbar-links li:hover a::before {*/
    /*right: 0;*/
    /*left: 0;*/
/*}*/
/*#navbar-links a {*/
    /*!*color: #848484;*!*/
    /*font-size: 20px;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*padding: 20px 0;*/
    /*display: block;*/
    /*position: relative;*/
    /*-webkit-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
/*}*/
/*#navbar-links a:hover {*/
    /*color: #C0CC56;*/
/*}*/
/*#navbar-links a::before {*/
    /*content: "";*/
    /*-webkit-transition: all 0.4s ease-in-out;*/
    /*transition: all 0.4s ease-in-out;*/
    /*position: absolute;*/
    /*right: 50%;*/
    /*left: 50%;*/
    /*bottom: 0;*/
    /*height: 2px;*/
    /*background-color: #C0CC56;*/
/*}*/
#logo{
    color: #A6B339; /*greener*/
    font-family: "Century Schoolbook L";
    margin: 20px;
}

nav{
    background-color: #3F3F3F; /*almost black*/
}
nav a{
    color: white;
}

nav li:hover a::before {
    right: 0;
    left: 0;
}
nav a {


    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav a:hover {
    color: #C0CC56; /*lightgreen*/
}
nav a::before {
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #C0CC56; /*lightgreen*/
}

nav ul {
    list-style-type: none;
}

.nav-link{

    font-size: large;

    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 10px;
    margin-left:40px;
    /*text-shadow: 0.05px 0.05px;*/
}
#login-register a {
    position: static;
    background-color: #4e555b;
    padding: 5px;
    margin-left: 8px;
    margin-top: 8px;
}
#login-register a:hover{
    color: #A6B339;

}