

<div class="container-fluid col-sm-12 col-md-8 col-lg-8 col-xl-6">
    <div class="container-fluid ui-header">
        <h3>Login</h3>
        <!--<img src="images/user.svg" alt="Avatar" class="" height="60" width="65">-->
    </div>
    <form name="loginForm" ng-submit="vm.login()" role="form" class="container ui-container" >


        <div class="container-fluid">
            <label for="username"><b>Username</b></label>
            <input ng-model="vm.username" class="form-control" type="text" placeholder="Enter Username" id="username" name="username" required>
            <p class="validation" ng-show = "loginForm.username.$pristine && loginForm.username.$touched" >Username is required</p>
            <label for="password"><b>Password</b></label>
            <input ng-model="vm.password" class="form-control" type="password" placeholder="Enter Password" id="password" name="password" required>
            <p class="validation" ng-show = "loginForm.password.$pristine && loginForm.password.$touched" >Username is required</p>

        </div>
        <br>
        <div class="container-fluid form-actions">
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
            <button id="" class="mr-sm-3" style="float: right;" type="submit">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
               ng-if="flash" ng-bind="flash.message"></div>
        </div>
        <br>
        <a class="btn btn-link" style="margin-left: 0; " href="#">Forgot password?</a>
        <div class="container" style="background-color:#f1f1f1; padding-top: 0; padding-bottom: 2px; ">
            <p>If you don't have an account 
                <a href="#!/register" style="" class="btn btn-link">Register</a>
            </p>
        </div>

    </form>

</div>
