
<!--<div id="login-container" class="offset-sm-4 col-sm-4 ui-header">-->
    <!--<div >-->
        <!--<div class="card-header " id="login-header">-->
            <!--<h4>Login</h4>-->
        <!--</div>-->
        <!--<div class="card-body ui-container">-->

            <!--<form name="form" ng-submit="vm.login()" role="form">-->
                <!--<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">-->
                    <!--<div class="col-sm-11">-->
                        <!--<label for="username">Username</label>-->
                        <!--<input type="text" name="username" id="username" placeholder="username" class="form-control" ng-model="vm.username" required />-->
                    <!--</div>-->
                    <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                <!--</div>-->
                <!--<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">-->

                    <!--<div class="col-sm-11">-->
                        <!--<label for="password">Password</label>-->
                        <!--<input type="password" name="password" id="password" placeholder="password" class="form-control" ng-model="vm.password" required />-->
                    <!--</div>-->
                    <!--<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
                <!--</div>-->
                <!--<div class="form-actions">-->
                    <!--<button type="submit"  ng-disabled="form.$invalid || vm.dataLoading" class="btn ">Login</button>-->
                    <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                    <!--<a href="#!/register" class="btn btn-link">Register</a>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<p href="#/" class style="background-color: #a9a463; color: white; height: 20px; padding: 0" ncy-breadcrumb ></p>

<div class="container-fluid col-sm-6 ">
    <div class="container-fluid ui-header">
        <h3>Login</h3>
        <!--<img src="images/user.svg" alt="Avatar" class="" height="60" width="65">-->
    </div>
    <form name="form" ng-submit="vm.login()" role="form" class="container" >


        <div class="container-fluid">
            <label for="username"><b>Username</b></label>
            <input ng-model="vm.username" type="text" placeholder="Enter Username" id="username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input ng-model="vm.password" type="password" placeholder="Enter Password" id="password" name="password" required>
        </div>
        <br>
        <div class="container-fluid form-actions">
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
            <button id="" class="mr-sm-3" style="float: right;" type="submit">Login</button>
        </div>
        <br>
        <a class="btn btn-link" style="margin-left: 0; " href="#">Forgot password?</a>
        <div class="container" style="background-color:#f1f1f1; padding-top: 0; padding-bottom: 2px; ">
            <p>If you already have an account
                <a href="#!/register" style="" class="btn btn-link">Register</a>
            </p>
        </div>
    </form>

</div>