
<p style="font-size: smaller"><a href="#!/map" class="btn btn-link">spots</a>>> scuba-diving school"</p>
<div ng-include="'devidedByHtmlBlocks/ngView/map/spot_info_top/spot_info_top.html'"></div>

<div class="row offset-sm-6 col-sm-6" id="lat-long">
    <table class="col-sm-6" >
        <tr>
            <th>latitude: </th>
            <td>{{spot.latitude}}</td>
        </tr>

    </table>
    <table class="col-sm-6">
        <tr>
            <th>longitude: </th>
            <td>{{spot.longitude}}</td>
        </tr>

    </table>

</div>
<div class="row" style="margin-right:0; ">
    <div class="col-sm-6 ">
        <div class="" style="">
            <div class="ui-header container-fluid ">
                <div ng-if="scuba_diving_school.image" class="row container-fluid">
                    <img alt="" src="data:image/png;base64,{{scuba_diving_school.image}}" height="100" width="100">
                    <h5 class="ml-sm-5">{{spot.name}}</h5>
                </div>
                <h5 ng-if="!scuba_diving_school.image" class="ml-sm-5">{{spot.name}}</h5>



            </div>


            <div align="" class="info container-fluid">

                <div >
                    <table class="table"  >
                        <tbody>
                            <tr>
                                <th>Address:</th>
                                <td>{{scuba_diving_school.address}}</td>
                            </tr>
                            <tr>
                                <th>Contact:</th>
                                <td> {{scuba_diving_school.contact}}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{scuba_diving_school.email}}</td>
                            </tr>

                            <tr>
                                <th >Website:</th>
                                <td><a target="_blank" href="{{scuba_diving_school.website}}"> {{scuba_diving_school.website}}</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6" style="padding-left: 2px;">

        <ng-map style="height: 350px;" center="[{{spot.latitude}}, {{spot.longitude}}]" zoom="10" map-type-id="HYBRID" >
            <custom-marker position="[{{spot.latitude}}, {{spot.longitude}}]" >
                <img src="images/scubaSchool.svg" height="40" width="36">
            </custom-marker>
        </ng-map>
    </div>
</div>
<br/>



<div  style="text-align: right">

    <button id="report-button"
            type="button"
            class="btn-sm btn-danger"
            data-toggle="modal"
            data-target="#reportModal">
        <i class="ml-auto fa fa-exclamation-circle"></i> Report Spot
    </button>
    <div class="modal fade" id="reportModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div> <!--report button-->


<div ng-include="'devidedByHtmlBlocks/ngView/map/comments/comments.html'">

</div>






